In [59]:
import bs4 as bs
from urllib import request
import pandas as pd
import matplotlib.pyplot as plt
import requests
import re

page = requests.get('https://www.magicbricks.com/property-for-rent/residential-real-estate?bedroom=2&proptype=Multistorey-Apartment,Builder-Floor-Apartment,Penthouse,Studio-Apartment,Service-Apartment&cityName=Bangalore&BudgetMax=20000')

soup = bs.BeautifulSoup(page.text, 'html.parser')
print(soup.title.text)
# print(soup.find_all('p'))

# htmltable = soup.find_all('table', { 'id' : 'main_table_countries_today' })
# htmltable
# df = pd.read_html(str(htmltable))[0]

Properties in Bangalore

In [119]:
m = soup.find('div', class_ = 'l-srp__results flex__item')
n = m.find('span', class_ = 'hidden')
print(n)
n.attrs['data-bathroom']

<span class="hidden" data-bathroom="2" data-bedroom="2" data-categoryidsori="r" data-completionscore="" data-createdate="20210206" data-devname="Puravankara Ltd." data-encid="5VhDut7xySNzpSvf+uAgZw==" data-floorno="7" data-furnshingstatus="Semi-Furnished" data-isproject="Y" data-isverified="" data-listingtype="Z" data-pkg="10075" data-price="22000" data-projectid="" data-projectname="Purva Palm Beach" data-propertytypecode="10002" data-propertyval="Apartment" data-slots="" data-trackingcode="" data-transactiontype="Rent" data-usertype="Agent" id="domcache_srp_51387066"></span>

'2'

In [136]:
import pandas as pd

m = soup.find('div', class_ = 'l-srp__results flex__item')
n = m.find_all('span', class_ = 'hidden')
l = [i for i in n if i.get('data-price')]
print(l[:3])

data_bedroom = [i.attrs['data-bedroom'] for i in l]
data_bathroom = [i.attrs['data-bathroom'] for i in l]
data_projectname = [i.attrs['data-projectname'] for i in l]
data_propertyval = [i.attrs['data-propertyval'] for i in l]
data_usertype = [i.attrs['data-usertype'] for i in l]
data_transactiontype = [i.attrs['data-transactiontype'] for i in l]
price = [i.attrs['data-price'] for i in l]

df = pd.DataFrame({'data_bedroom':data_bedroom, 'data_bathroom':data_bathroom, 'data_projectname':data_projectname, 'data_propertyval':data_propertyval, 'data_usertype':data_usertype, 'data_transactiontype':data_transactiontype, 'price':price})
df
# [type(i) for i in n]
# [i[:5] for i in n]
# [re.match(i, data-price.text) for i in n]
# help(bs.find)
# __dict__(n)
# dict(bs)
# [i['data-bedroom'] for i in n]

[<span class="hidden" data-bathroom="2" data-bedroom="2" data-categoryidsori="r" data-completionscore="" data-createdate="20210206" data-devname="Puravankara Ltd." data-encid="5VhDut7xySNzpSvf+uAgZw==" data-floorno="7" data-furnshingstatus="Semi-Furnished" data-isproject="Y" data-isverified="" data-listingtype="Z" data-pkg="10075" data-price="22000" data-projectid="" data-projectname="Purva Palm Beach" data-propertytypecode="10002" data-propertyval="Apartment" data-slots="" data-trackingcode="" data-transactiontype="Rent" data-usertype="Agent" id="domcache_srp_51387066"></span>, <span class="hidden" data-bathroom="2" data-bedroom="2" data-categoryidsori="r" data-completionscore="" data-createdate="20210207" data-devname="BM Developers" data-encid="H3QrDO0/UkFzpSvf+uAgZw==" data-floorno="Ground" data-furnshingstatus="Semi-Furnished" data-isproject="Y" data-isverified="" data-listingtype="Z" data-pkg="10075" data-price="17000" data-projectid="" data-projectname="BM Glorietta" data-propertytypecode="10002" data-propertyval="Apartment" data-slots="" data-trackingcode="" data-transactiontype="Rent" data-usertype="Agent" id="domcache_srp_53053811"></span>, <span class="hidden" data-bathroom="1" data-bedroom="2" data-categoryidsori="r" data-completionscore="" data-createdate="20210207" data-devname="" data-encid="0ILPx9x5NcpzpSvf+uAgZw==" data-floorno="Ground" data-furnshingstatus="Semi-Furnished" data-isverified="" data-listingtype="Z" data-pkg="10075" data-price="15000" data-projectid="" data-projectname="" data-propertytypecode="10002" data-propertyval="Apartment" data-slots="" data-trackingcode="" data-transactiontype="Rent" data-usertype="Agent" id="domcache_srp_52991181"></span>]

,data_bedroom,data_bathroom,data_projectname,data_propertyval,data_usertype,data_transactiontype,price
0,2,2,Purva Palm Beach,Apartment,Agent,Rent,22000
1,2,2,BM Glorietta,Apartment,Agent,Rent,17000
2,2,1,,Apartment,Agent,Rent,15000
3,2,2,,Apartment,Agent,Rent,19800
4,2,2,Sobha Silicon Oasis,Apartment,Agent,Rent,25000
5,2,3,Sai Sumukha Dollars,Apartment,Agent,Rent,18000
6,2,2,Arvind Sporcia,Apartment,Agent,Rent,20000
7,2,1,GM Infinite E City Town,Apartment,Agent,Rent,13000
8,2,2,Vijaya Springwoods,Apartment,Agent,Rent,19000
9,2,3,Welworth City,Apartment,Agent,Rent,15000
10,2,2,,Builder Floor Apartment,Agent,Rent,18000
11,2,2,NR Windgates,Apartment,Agent,Rent,20000
12,2,2,Aditi Exotica,Apartment,Agent,Rent,19000
13,2,2,Sraddha Palmera,Apartment,Agent,Rent,19500
14,2,2,,Apartment,Agent,Rent,18000
15,2,2,,Apartment,Agent,Rent,18000
16,2,2,Mantri Tranquil,Apartment,Agent,Rent,19000
17,2,2,,Builder Floor Apartment,Agent,Rent,19000
18,2,2,Bhartiya City Nikoo Homes,Apartment,Agent,Rent,18000
19,2,2,,Apartment,Agent,Rent,19000
20,2,2,Legacy Ariston,Apartment,Agent,Rent,20000
21,2,2,,Apartment,Agent,Rent,19000
22,2,2,Mantri Woodlands,Apartment,Agent,Rent,17000
23,2,2,AWHO Sandeep Vihar,Apartment,Agent,Rent,19000
24,2,2,Daadys Elixir,Apartment,Agent,Rent,11000
25,2,2,,Apartment,Agent,Rent,19500
26,2,2,Goyal Footprints,Apartment,Agent,Rent,20000
27,2,2,,Builder Floor Apartment,Agent,Rent,13000
28,2,2,Alpine Viva,Apartment,Agent,Rent,20000
29,2,2,,Apartment,Agent,Rent,16000

In [77]:
a = 'md'
type(a)

str

In [24]:
driver.execute_script?

In [10]:
from selenium import webdriver
import requests
import time
import bs4 as bs

url = 'https://www.magicbricks.com/property-for-rent/residential-real-estate?bedroom=2&proptype=Multistorey-Apartment,Builder-Floor-Apartment,Penthouse,Studio-Apartment,Service-Apartment&cityName=Bangalore&BudgetMax=20000'
# 'https://www.magicbricks.com/'
driver = webdriver.Chrome(r'C:\Users\madhu\Downloads\chromedriver.exe')
driver.get(url)
driver.implicitly_wait(100)
# d = driver.find_elements_by_xpath("/input[contains(@id,'fromdate')]")
# d.send_keys('Banglore')
ScrollNumber = 5
for i in range(1,ScrollNumber):
    driver.execute_script("window.scrollTo(0,document.body.scrollHeight)")
    time.sleep(3)
#     driver.execute_script("window.scrollTop(1,5)")
#     time.sleep(3)

with open('DS.html', 'w', encoding='utf-8') as f:
    f.write(driver.page_source)

data = open('DS.html','r')
soup = bs.BeautifulSoup(data, 'html.parser')
print(soup)    

driver.close()

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [11]:
import pandas as pd

m = soup.find('div', class_ = 'l-srp__results flex__item')
n = m.find_all('span', class_ = 'hidden')
l = [i for i in n if i.get('data-price')]
# print(l[:3])

data_bedroom = [i.attrs['data-bedroom'] for i in l]
data_bathroom = [i.attrs['data-bathroom'] for i in l]
data_projectname = [i.attrs['data-projectname'] for i in l]
data_propertyval = [i.attrs['data-propertyval'] for i in l]
data_usertype = [i.attrs['data-usertype'] for i in l]
data_transactiontype = [i.attrs['data-transactiontype'] for i in l]
price = [i.attrs['data-price'] for i in l]

df = pd.DataFrame({'data_bedroom':data_bedroom, 'data_bathroom':data_bathroom, 'data_projectname':data_projectname, 'data_propertyval':data_propertyval, 'data_usertype':data_usertype, 'data_transactiontype':data_transactiontype, 'price':price})
df

,data_bedroom,data_bathroom,data_projectname,data_propertyval,data_usertype,data_transactiontype,price
0,2,2,,Apartment,Agent,Rent,19000
1,2,2,Arvind Sporcia,Apartment,Agent,Rent,17000
2,2,2,Dwarakamai Olive,Apartment,Agent,Rent,17900
3,2,3,Sai Sumukha Dollars,Apartment,Agent,Rent,18000
4,2,2,Arvind Sporcia,Apartment,Agent,Rent,20000
5,2,2,,Apartment,Agent,Rent,20000
6,2,1,GM Infinite E City Town,Apartment,Agent,Rent,13000
7,2,2,,Builder Floor Apartment,Agent,Rent,18000
8,2,2,Aditi Exotica,Apartment,Agent,Rent,19000
9,2,2,Sumadhuras Anantham,Apartment,Agent,Rent,20000
10,2,1,,Builder Floor Apartment,Agent,Rent,15000
11,2,2,Mantri Tranquil,Apartment,Agent,Rent,19000
12,2,2,,Apartment,Agent,Rent,20000
13,2,2,NCGRS VRR Heritage,Apartment,Agent,Rent,20000
14,2,2,Sri Anjana Galaxy,Apartment,Agent,Rent,20000
15,2,2,Bhartiya City Nikoo Homes,Apartment,Agent,Rent,18000
16,2,2,Legacy Ariston,Apartment,Agent,Rent,20000
17,2,2,NR Windgates,Apartment,Agent,Rent,20000
18,2,2,Daadys Elixir,Apartment,Agent,Rent,11500
19,2,2,,Apartment,Agent,Rent,19000
20,2,2,AWHO Sandeep Vihar,Apartment,Agent,Rent,19000
21,2,2,Goyal Footprints,Apartment,Agent,Rent,20000
22,2,2,Mantri Woodlands,Apartment,Agent,Rent,17000
23,2,2,,Apartment,Agent,Rent,19500
24,2,2,Concorde Manhattans,Apartment,Agent,Rent,20000
25,2,2,Shanders Spring Dale,Apartment,Agent,Rent,20000
26,2,2,Laurel,Apartment,Owner,Rent,20000
27,2,2,Sharanya Arcade,Apartment,Owner,Rent,20000
28,2,2,Dhammanagi Sumo Leaves,Apartment,Owner,Rent,16500
29,2,2,,Builder Floor Apartment,Owner,Rent,10000

In [8]:
!pip install selenium

Collecting selenium
  Downloading selenium-3.141.0-py2.py3-none-any.whl (904 kB)
Requirement already satisfied: urllib3 in c:\users\madhu\anaconda3\lib\site-packages (from selenium) (1.25.11)
Installing collected packages: selenium
Successfully installed selenium-3.141.0

In [3]:
!pip install urlib

ERROR: Could not find a version that satisfies the requirement urlib (from versions: none)
ERROR: No matching distribution found for urlib

In [4]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\madhu\anaconda3\lib\site-packages (1.1.3)
Requirement already satisfied: pytz>=2017.2 in c:\users\madhu\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: numpy>=1.15.4 in c:\users\madhu\anaconda3\lib\site-packages (from pandas) (1.19.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\madhu\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\madhu\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [5]:
!pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\madhu\anaconda3\lib\site-packages (3.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\madhu\anaconda3\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: numpy>=1.15 in c:\users\madhu\anaconda3\lib\site-packages (from matplotlib) (1.19.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\madhu\anaconda3\lib\site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\madhu\anaconda3\lib\site-packages (from matplotlib) (8.0.1)
Requirement already satisfied: certifi>=2020.06.20 in c:\users\madhu\anaconda3\lib\site-packages (from matplotlib) (2020.6.20)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\madhu\anaconda3\lib\site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\madhu\anaconda3\lib\site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: six in c:\users\madhu\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib) (1.15.0)

In [6]:
!pip install requests

Requirement already satisfied: requests in c:\users\madhu\anaconda3\lib\site-packages (2.24.0)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\madhu\anaconda3\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\madhu\anaconda3\lib\site-packages (from requests) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\users\madhu\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\madhu\anaconda3\lib\site-packages (from requests) (1.25.11)